body
{
    background-color: rgb(0, 65, 65);
    color: White;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 
{
    background-color: rgb(0, 60, 60);
    margin: 12.5px;
    padding: 17.5px;
    margin-top: -20px;
    text-decoration: underline;
}

h2
{
    background-color: rgb(0, 60, 60);
    margin: 7.5px;
    padding: 15px;
    padding-left: 35px;
}

h3
{
    background-color: rgb(0, 60, 60);
    margin: 10px;
    padding: 20px;
}

h6
{
    background-color: rgb(0, 60, 60);
    margin: 2.5px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: -20;
    flex-direction: row;
    align-self: flex-start;
    
}

a 
{
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}